body {
  display: flex;
  align-items: center;
  background-color: black
}

#bg {
  visibility: hidden;
  position: absolute;
}

#canvas {
  box-sizing: border-box;
  background: transparent;
  margin: auto;
  border: 1px solid #fdf;
  cursor: crosshair;
}

@font-face {
  font-family: 'PressStart';
  src: url('../fonts/PressStart2P-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
